# Data Science Tools and Ecosystem

## Author
Robert Bercovic

This notebook will provide a summary of Data Science Tools and Ecosystem.

__Objectives__

* Popular Data Science Languages
* Commonly used libraries in data science
* Data Science Tools
* Evaluated arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include: 
1. Python
2. Apache Spark
3. Scala
4. R

| Data Science Tools |
| --- |
| Jupyter | 
| Apache Zepplin | 
| R Studio |

### Below are a few examples of evaluated arithmetic expressions in Python

In [4]:
#This is a simple arithmetic expression 
(3*4) +5

17

In [5]:
#This will convert 200 minutes to hours
200/60

3.3333333333333335